.label__container {
    display: inline-block;
    position: relative;
    padding: 8px 20px;
    border: 4px solid #4caf50;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #4caf50 50%, #242424 50%);
    background-size: 100% 200%;
    font-size: 20px;
    color: #ffffff;
    transition: all 1s;
    cursor: pointer;
    overflow: hidden;
}


.label__container input[type=file] {
    height: 55px;
    width: 150px;
    position: absolute;
    top: -5px;
    left: -4px;
    opacity: 0;
    cursor: pointer;
}

.label__container:hover {
    background-position: 0 -100%;
    color: #4caf50;
}