#root {
    --card-height: 60vh;
    --card-width: calc(var(--card-height) / 0.8);
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

table {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    border-collapse: collapse;
    border-radius: 8px;
    z-index: 10;
    color: #fff;
    overflow: hidden;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    color: #5ddcff;
}

tbody tr {
    border-bottom: 2px solid #5ddcff;
}

.card {
    /* padding: 3px; */
    position: relative;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card::before {
    content: "";
    width: 102%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
        var(--rotate),
        #5ddcff,
        #3c67e3 43%,
        #4e00c2
    );
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -1%;
    animation: spin 2.5s linear infinite;
}

.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
        var(--rotate),
        #5ddcff,
        #3c67e3 43%,
        #4e00c2
    );
    transition: opacity 0.5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}
